<header id="header"> 
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-extended="false">
        <span class="sr-only">Toggle</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <a class="navbar-brand" [routerLink]="['/']" >
        AGD Clientes
      </a> 
    </div>

    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav">        
        <!--<li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" *ngIf="identity && identity.sub">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Documentos 
            <span class="caret"></span>           
          </a>
          <ul class="dropdown-menu">
            <li>          
              <a [routerLink]="['/documento']" *ngIf="identity && identity.sub">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Lista de Documentos
              </a>
            </li>
            <li>
              <a [routerLink]="['/documento-new']" *ngIf="identity && identity.sub">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Añadir Documento
              </a>
            </li>
          </ul>
        </li>-->

        <li>          
          <a [routerLink]="['/documento']" *ngIf="identity && identity.sub">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Documentos
          </a>
        </li>

        <li>
          <a [routerLink]="['/modelo']" *ngIf="identity && identity.sub">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Modelos
          </a>
        </li>  

        <li>          
          <a [routerLink]="['/mensaje']" *ngIf="identity && identity.sub">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Mensajes
          </a>
        </li>        

        <!--<li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" *ngIf="identity && identity.sub">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Mensajes 
            <span class="caret"></span>           
          </a>
          <ul class="dropdown-menu">
            <li>          
              <a [routerLink]="['/mensaje']" *ngIf="identity && identity.sub">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Lista de Mensajes
              </a>
            </li>
            <li>
              <a [routerLink]="['/mensaje-new']" *ngIf="identity && identity.sub">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Añadir Mensaje
              </a>
            </li>
          </ul>
        </li>  -->
                          
      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="!identity">
        <li>
          <a [routerLink]="['/login']"> Login </a>
        </li>  
        <!--
        <li>  
          <a [routerLink]="['/register']"> Registro </a>
        </li>
        -->
      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="identity && identity.sub">
        <!-- <li>
          <a [routerLink]="['/']">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            Ajustes
          </a>
        </li>-->

        <li>
          <a [routerLink]="['/login', 1]">
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
            Salir
          </a>
        </li> 

        <li>          
            <a>{{identity.nombre}}</a>          
        </li>          
      </ul>
    </div> 
  </div>
</header>

<router-outlet></router-outlet>

