<div class="col-md-12">
    <div *ngIf="!identity || identity == null">
        Inicia sesión para acceder a más opciones
    </div>

    <div class="col-md-12" *ngIf="identity && identity.sub">

        <div class="all-documents">
            <div class="loader" *ngIf="loading == 'show'">
                <img src="assets/img/loader.gif" />
            </div>

            <table class="table table-hover table-stripped" [mfData]="documentos" #mf="mfDataTable" id="documentos-list" *ngIf="documentos && documentos.length >= 1" [mfRowsOnPage]="rowsOnPage">
                <thead>
                <tr>                    
                    <th>Descripción</th>
                    <th>Tipo</th>
                    <th>Fecha</th>                                        
                    <th>Acciones</th>
                    <th> </th>
                    <th> </th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let documento of mf.data" class="documento-item">                    
                    <td>						
                        <h5>
                            {{documento.descripcion}}
                        </h5>
                    </td>
                    <td>
                        <h5>
                            {{documento.tipo}}
                        </h5>
                    </td>                    
                    <td>
                        <h5>
                            {{documento.fechahora.timestamp | generateDate}}
                        </h5>
                    </td>    
                    
                    <td>
                        <h5>
                            <input type="checkbox" name="visto" value="documento.visto"/> 
                        </h5>
                    </td>                                    
                    
                    <td>
                        <button type="button" class="btn btn-info" data-dismiss="modal" (click)="mostrarDocumento(documento.id)"> Mostrar </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="descargarDocumento(documento.id, documento.ruta)"> Descargar </button>
                    </td>                     
                    <td>
                        <a href="#myModal" role="button" class="btn btn-danger" data-toggle="modal">Borrar</a>
                        <div id="myModal" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">¿Está seguro?</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p class="text-warning">Si borra el documento este no podrá recuperarse.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="borrarDocumento(documento.id)">Borrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </td>                                    
                </tr>
                </tbody>    

                <tfoot>
                <tr>
                    <td colspan="4">
                    <mfBootstrapPaginator></mfBootstrapPaginator>
                    </td>
                </tr>
                </tfoot>
                
            </table>

            <div class="col-md-12" *ngIf="loading != 'show' && !documentos">
                <div class="clearfix"></div>
                <div class="alert alert-warning">
                    No se han encontrado documentos
                </div>
            </div>

			<!--<ul class="pagination" *ngIf="documentos && documentos.length >= 1">
				<li>
					<a [routerLink]="['/documento', pagePrev]" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>

				<li *ngFor="let page of pages">  
					<a [routerLink]="['/documento', page+1]">{{page+1}} </a>
				</li>

				<li>
					<a [routerLink]="['/documento', pageNext]" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
            </ul>    -->
            
            <!-- <div>
                <a [routerLink]="['/documento-new']" *ngIf="identity && identity.sub" class="btn btn-primary">                    
                    Añadir documento
                  </a>
            </div> -->
           

        </div>
    </div>
</div>