<div class="col-md-12">
    <div *ngIf="!identity || identity == null">
        Inicia sesión para acceder a más opciones
    </div>

    <div class="col-md-12" *ngIf="identity && identity.sub">

        <div class="all-mensajes">
            <div class="loader" *ngIf="loading == 'show'">
                <img src="assets/img/loader.gif" />
            </div>

            <table class="table table-hover table-stripped" id="mensajes-list" *ngIf="mensajes && mensajes.length >= 1" >
                <tr>
                    <th>Emisor</th>
                    <th>Receptor</th>
                    <th>Texto</th>
                    <th>Fecha</th>
                </tr>

                <tr *ngFor="let mensaje of mensajes" class="mensajes-item">
                    <td>						
                        {{mensaje.emisor}}                        
                    </td>
                    <td>						
                        {{mensaje.receptor}}
                    </td>
                    <td>						                        
                        {{mensaje.texto}}                        
                    </td>                                                 
                    <td>						                        
                        {{mensaje.fechahora.timestamp | generateDate}}                        
                    </td>                                             
                </tr>
                
            </table>

            <div class="col-md-12" *ngIf="loading != 'show' && !mensajes">
                <div class="clearfix"></div>
                <div class="alert alert-warning">
                    No se han encontrado mensajes
                </div>
            </div>

			<ul class="pagination" *ngIf="mensajes && mensajes.length >= 1">
				<li>
					<a [routerLink]="['/mensaje', pagePrev]" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>

				<li *ngFor="let page of pages">  
					<a [routerLink]="['/mensaje', page+1]">{{page+1}} </a>
				</li>

				<li>
					<a [routerLink]="['/mensaje', pageNext]" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
            </ul>  

        </div>
    </div>
</div>
