<div class="col-md-12">
    <div *ngIf="!identity || identity == null">
        Inicia sesión para acceder a más opciones
    </div>

    <div class="col-md-12" *ngIf="identity && identity.sub">

        <div class="all-mensajes">
            <div class="loader" *ngIf="loading == 'show'">
                <img src="assets/img/loader.gif" />
            </div>

            <div class="card bg-light" *ngIf="!clienteE">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Nuevo Mensaje
                    </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="alert alert-success" *ngIf="status_mensaje == 'success'">
                            El mensaje se ha creado correctamente		
                        </div>                    
                        <div class="alert alert-danger" *ngIf="status_mensaje == 'error'" >
                            ¡El mensaje NO se ha creado!
                        </div>                      
                        <form #mensajeNewForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-7 no-padding"> 
                            <p> 
                                <!--<label>Introduzca el mensaje:</label>-->
                                <textarea class="form-control" name="mensajetexto" #mensajetexto="ngModel" [(ngModel)]="mensaje.texto" required ></textarea>
                                <span *ngIf="!mensajetexto.valid && mensajetexto.touched">La descripción no es correcta</span>
                            </p>	        			
                
                            <input type="submit" value="Enviar mensaje" class="btn btn-primary" [disabled]="!mensajeNewForm.form.valid" />
                        </form> 
                    </div>
                </div>
            </div>              

            <table class="table table-hover table-stripped" [mfData]="mensajes" #mf="mfDataTable" id="mensajes-list" *ngIf="mensajes && mensajes.length >= 1" [mfRowsOnPage]="rowsOnPage">
                <thead>
                <tr>
                    <th>Emisor</th>
                    <th>Receptor</th>
                    <th>Texto</th>
                    <th>Fecha</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let mensaje of mf.data" class="mensajes-item">
                    <td *ngIf="mensaje.emisor == identity.sub">
                        {{identity.nombre}}
                    </td>
                    <td *ngIf="mensaje.emisor != identity.sub">
                        {{mensaje.emisor}}                        
                    </td>
                    <td *ngIf="mensaje.receptor == identity.sub">
                        {{identity.nombre}}
                    </td>
                    <td *ngIf="mensaje.receptor != identity.sub">
                        {{mensaje.receptor}}
                    </td>                    
                    <td>						                        
                        {{mensaje.texto}}                        
                    </td>                                                 
                    <td>						                        
                        {{mensaje.fechahora.timestamp | generateDate}}                        
                    </td>                                             
                </tr>
                </tbody>    

                <tfoot>
                <tr>
                    <td colspan="4">
                    <mfBootstrapPaginator></mfBootstrapPaginator>
                    </td>
                </tr>
                </tfoot>                
                
            </table>         

            <div class="col-md-12" *ngIf="loading != 'show' && !mensajes">
                <div class="clearfix"></div>
                <div class="alert alert-warning">
                    No se han encontrado mensajes
                </div>
            </div>

        </div>
    </div>
</div>
