<div class="col-md-12">
    <div *ngIf="!identity || identity == null">
        Inicia sesión para acceder a más opciones
    </div>

    <div class="col-md-12" *ngIf="identity && identity.sub">

        <div class="all-models">
            <div class="loader" *ngIf="loading == 'show'">
                <img src="assets/img/loader.gif" />
            </div>

            <table class="table table-hover table-stripped" id="models-list" *ngIf="modelos && modelos.length >= 1" >
                <tr>
                    <th>Descripción</th>
                    <th>Código</th>
                    <th>Trimestre</th>
                    <th>Ejercicio</th>                    
                    <th>Tipo</th>
                    <th>Fecha</th>
                    <th>Enlace</th>
                </tr>

                <tr *ngFor="let modelo of modelos" class="modelos-item">
                    <td>						
                        <h4>
                            {{modelo.descripcion}}
                        </h4>
                    </td>
                    <td>						
                        <h4>
                            {{modelo.codigo}}
                        </h4>
                    </td>
                    <td>						
                        <h4>
                            {{modelo.trimestre}}
                        </h4>
                    </td> 
                    <td>						
                        <h4>
                            {{modelo.ejercicio}}
                        </h4>
                    </td>                                                           
                    <td>
                        <h4>
                            {{modelo.tipo}}
                        </h4>
                    </td>
                    <td>
                        <h4>
                            {{modelo.fechahora.timestamp | generateDate}}
                        </h4>
                    </td>                    
                    <td>
                        <a href="http://localhost/agd/symfony/web/uploads/modelos/{{modelo.ruta}}" target="_blank" class="btn btn-warning"> Descargar </a>
                    </td>
                </tr>
                
            </table>

            <div class="col-md-12" *ngIf="loading != 'show' && !modelos">
                <div class="clearfix"></div>
                <div class="alert alert-warning">
                    No se han encontrado modelos
                </div>
            </div>

			<ul class="pagination" *ngIf="modelos && modelos.length >= 1">
				<li>
					<a [routerLink]="['/modelo', pagePrev]" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>

				<li *ngFor="let page of pages">  
					<a [routerLink]="['/modelo', page+1]">{{page+1}} </a>
				</li>

				<li>
					<a [routerLink]="['/modelo', pageNext]" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>            

        </div>
    </div>
</div>