<div class="col-md-12">
    <div *ngIf="!identity || identity == null">
        Inicia sesión para acceder a más opciones
    </div>

    <div class="col-md-12" *ngIf="identity && identity.sub">

        <div class="all-models">
            <div class="loader" *ngIf="loading == 'show'">
                <img src="assets/img/loader.gif" />
            </div>

            <table class="table table-hover table-stripped" [mfData]="modelos" #mf="mfDataTable" id="models-list" *ngIf="modelos && modelos.length >= 1" [mfRowsOnPage]="rowsOnPage">
                <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Código</th>
                    <th>Trimestre</th>
                    <th>Ejercicio</th>                    
                    <th>Tipo</th>
                    <th>Fecha</th>
                    <th>Enlace</th>
                </tr>  
                </thead>                  
                <tbody>
                <tr *ngFor="let modelo of mf.data" class="modelos-item">
                    <td>						
                
                            {{modelo.descripcion}}
                
                    </td>
                    <td>						
                
                            {{modelo.codigo}}
                
                    </td>
                    <td>						
                
                            {{modelo.trimestre}}
                
                    </td> 
                    <td>						
                
                            {{modelo.ejercicio}}
                
                    </td>                                                           
                    <td>
                
                            {{modelo.tipo}}
                
                    </td>
                    <td>
                
                            {{modelo.fechahora.timestamp | generateDate}}
                
                    </td>                    
                    <td>
                        <button type="button" class="btn btn-info" data-dismiss="modal" (click)="mostrarModelo(modelo.id, modelo.ruta)"> Mostrar </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="descargarModelo(modelo.id, modelo.ruta)"> Descargar </button>
                    </td>  
                </tr>  
                </tbody>              

                <tfoot>
                <tr>
                    <td colspan="4">
                    <mfBootstrapPaginator></mfBootstrapPaginator>
                    </td>
                </tr>
                </tfoot> 
                
            </table>

            <div class="col-md-12" *ngIf="loading != 'show' && !modelos">
                <div class="clearfix"></div>
                <div class="alert alert-warning">
                    No se han encontrado modelos
                </div>
            </div>

			<!--<ul class="pagination" *ngIf="modelos && modelos.length >= 1">
				<li>
					<a [routerLink]="['/modelo', pagePrev]" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>

				<li *ngFor="let page of pages">  
					<a [routerLink]="['/modelo', page+1]">{{page+1}} </a>
				</li>

				<li>
					<a [routerLink]="['/modelo', pageNext]" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>-->

        </div>
    </div>
</div>